<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="text-white text-xl font-bold" id="brand">E<span>M</span></h1>
    <div class="space-x-8">
      <a routerLink="/" class="text-white hover:text-aqua">Home</a>
      <a routerLink="/about" class="text-white hover:text-aqua">About me</a>
      <a routerLink="/projects" class="text-white hover:text-aqua">My Projects</a>
      <a routerLink="/contact" class="text-white hover:text-aqua">Contact me</a>
    </div>
  </div>
</nav>